[tool.pyright]
venvPath = "."
venv = ".venv"

[project]
name = "03-resources"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.14"
dependencies = [
    "mcp>=1.26.0",
]
